<div id="<%= dom_id event %>">
  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Starting date:</strong>
    <%= event.starting_date %>
  </p>

  <p>
    <strong>Ending date:</strong>
    <%= event.ending_date %>
  </p>

</div>
